*{
    margin: 0;
    padding: 0;
    background-color: rgb(85, 83, 75);
}

.nav{
    
    margin: auto;
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.nav ul{
    background-color: black;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

.nav ul li{
    float: left;
}

.nav ul li:hover{
    background-color: chocolate;
}

.nav ul li:hover a{
    color: gold;
}

.nav ul li a{
    background-color: black;
    display: block;
    padding: 20px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

/* ini css untuk gambar */

.gambar{
   margin: 0;
   padding: 0;

}
img{
    width: 100%;
    display: inline-block;
}

/* ini css untuk content */

.content{
    width: 68%;
    margin-left: 10px;
    /* background-color: cadetblue; */
    text-align: justify;
    float: left;
}
.content .tes{
    margin-top: 20px;
}

.content .tes p{
    margin-left: 20px;
}


/* ini css untu tetnat penulis */
.tentan{
    text-align: justify;
    width: 30%;
    float: right;
    /* background-color: brown; */
    padding-top: 10px;

}


.tentan p img{
    padding-right: 13px;
    padding-bottom: 4px;
    float: left;
    width: 100px;
    height: 110px;
   
}

.footer{
    margin-top: 480px;
    background-color: rgb(0, 0, 0);
    height: 30px;
}
.footer h4{
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
}